@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body,
.wrapper,
.wrapper .content {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    min-height: 100vh;
    background: #87b5ff;
}

.wrapper {
    background-color: #a2dafd;
    width: 440px;
    flex-direction: column;
    padding: 30px 30px 38px;
    border-radius: 5px;
    box-shadow: 0 0 30px 15px rgb(0, 0, 0, .3);
}

.wrapper img {
    max-width: 103px;
}

.wrapper h1 {
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 30px 0;
    color: #4d61d7;
}

.wrapper .content {
    width: 100%;
    justify-content: space-between;
}

.wrapper .content.disable {
    opacity: 0.6;
    pointer-events: none;
}

.content .column {
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #999;
    width: calc(100% / 3 - 5px);
}

.column select {
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 19px;
    background-color: #a2dafd;
    color: #51224d;
}

.wrapper button {
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    padding: 17px 0;
    border-radius: 5px;
    background: #4d61d7;
    transition: 0.3s;
}

.wrapper button:hover {
    background: #5b85c8;
}

@media (max-width:500px) {
    .wrapper {
        width: 300px;
        padding: 15px;
    }
    .content .column {
        padding: 0 5px;
    }
    .column select {
        height: 35px;
        width: 100%;
        font-size: 15px;
    }
}